.contact{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 7vh;

}
.contact-details{
    margin-top: 5vh;
    margin-left: 10vh;
}
.email{
    width: 5vh;
}
.ICONS{
    width: 5vh;
}
.social-media{
    margin-top: 5vh;
}