.vic{
    width: 65vh;
    margin-left: 13vh;
    border-radius: 2vh;
    
}
.edu-p{
    font-size: 2.5vh;
    
}
.education-subheading{
    font-size: 4vh;
    font-weight: 900;
}
.educations-details{
    margin-left: 8vh;
}
.sk{
    margin-bottom: 10vh;
}
/* media querry */

@media screen and (max-width: 576px) {
    .vic{
        width: 50vh;
        margin-left: 4vh;
    
        
    }
    .edu-p{
        font-size: 2vh;
    }
    .education-subheading{
        font-size: 4vh;
        margin-top: 6vh;
        font-weight: 900;
    }
    .educations-details{
        margin-left: 2vh;
    }
    .sk{
        margin-bottom: 8vh;
    }
}
@media screen and (max-width: 768px) {
    .vic{
        width: 50vh;
        margin-left: 4vh;
    }
    .edu-p{
        font-size: 2.5vh;
    }
    .education-subheading{
        font-size: 4vh;
        margin-top: 6vh;
        font-weight: 900;
    }
    .educations-details{
        margin-left: 2vh;
    }
    .sk{
        margin-bottom: 8vh;
    }
}
/* @media screen and (max-width: 992px) {
    .vic{
        width: 50vh;
        margin-left: 4vh;
    }
    .edu-p{
        font-size: 2vh;
    }
    .education-subheading{
        font-size: 4vh;
        margin-top: 1vh;
        font-weight: 900;
    }
    .educations-details{
        margin-left: 10vh;
    }
    .sk{
        margin-bottom: 8vh;
    }
} */
