.vic{
    width: 65vh;
    margin-left: 13vh;
    border-radius: 2vh;
    
}
.ed{
    font-size: 2.5vh ;
}

.education-subheading{
    font-size: 4vh;
    font-weight: 900;
}
.educations-details{
    margin-left: 8vh;
}
.sk{
    margin-bottom: 10vh;
}
/* media querry */

@media screen and (max-width: 576px) {
    .vic{
        width: 90%;
        margin-left: 0vh !important;
        
    }
    .ed{
        font-size: 1.9vh !important;
    }
    
    
    .education-subheading{
        font-size: 4vh;
        margin-top: 6vh;
        font-weight: 900;
        margin-left: 0;
    }
    .educations-details{
        margin-left:2vh !important;
    }
    .sk{
        margin-bottom: 8vh;
        font-size: 5vh;
    }
}

@media screen and (max-width: 768px) {
    .vic{
        width: 100%;
        margin-bottom: 1.5vh ;
        
    }
    .ed{
        font-size: 1.9vh !important;
    }
    
   
    .education-subheading{
        font-size: 4vh;
        margin-top: 6vh;
        font-weight: 900;
    }
    .educations-details{
        margin-left:2vh !important;
    }
    .educations-details{
        margin-left: 2vh;
    }
    .sk{
        margin-bottom: 8vh;
    }
}
@media screen and (max-width: 992px) {
    .vic{
        width: 100%;
        margin-left: 10px;
    }
    .ed{
        font-size: 1.9vh !important;
    }
   
    .education-subheading{
        font-size: 4vh;
        margin-top: 1vh;
        font-weight: 900;
    }
    .educations-details{
        margin-left:1vh !important;
        margin-right: 2vh !;
    }
    .educations-details{
        margin-left: 10vh;
    }
    .sk{
        margin-bottom: 8vh;
    }
}
