@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.hero-section{
    width: 100%;
    height: 100%;
    display: flex;
}

.hero{
    margin: auto;
    margin-left: 25vh ;
}
.hero-image{
    width: 50%;
}
.hero-image, .vicky{
    width: 100vh;
    margin-bottom: vh;
   
}
.dev{
    color: crimson;
    margin-left: 0vh;

}
.hero-heading{
    font-weight: 800;
    font-size: 7vh;
}
.hero-h2{
    font-size: 4vh;
}
.hero-text{
    font-size: 1.7vh;
}
.btn:hover{
    background: #ff004f !important;
    color: #fff !important;
}
 /* media querry  */

 @media screen and (max-width: 576px) {
    .hero-section{
        height: 100%;
        display: inline-block;
    }
    .nexus{
        width: 100%;
        margin-top: 10vh;
    }
    .hero{
        margin-left: 12vh;
        margin-right: auto;
        margin-top: 6vh;
    }
    .hero-heading{
        font-size: 7vh;
    }
    .hero-h2{
        font-size: 3vh;
        margin-top: 2vh;
    }
    .hero-text{
        font-size: 1.5vh;
        margin-top: 3vh;
        width: 100%;
    }
    .hero-image, .vicky{
        width: 100%;
        margin-bottom: 1vh;
    
    }

 }
 @media screen and (max-width: 768px) {

    .hero-heading{
        font-size: 6vh;
    }
    .hero-h2{
        font-size: 4vh;
        margin-top: 2vh;
    }
    .hero-text{
        font-size: 1.8vh;
        margin-top: 3vh;
        width: 100%;
    }
    .hero-image, .vicky{
        width: 100%;
        margin-bottom: 1vh;
    }
    .hero{
        margin-left: 10vh;
        margin-right: 5vh;
        margin-top: 10vh;
    }
    
    .hero-image{
        width: 100%;
        margin-bottom: 1vh;
    }
    .hero-section{
        height: 100%;
        display: inline-block;
    }
}
@media screen and (max-width: 992px) {
    .hero-heading{
        font-size: 6vh;
    }
    .hero-h2{
        font-size: 4vh;
        margin-top: 2vh;
    }
    .hero-text{
        font-size: 1.8vh;
        margin-top: 3vh;
        width: 100%;
    }
    .hero-image, .vicky{
        width: 100%;
        margin-bottom: 1vh;
    }
    .hero{
        margin-left: 10vh;
        margin-right: 5vh;
        margin-top: 10vh;
    }
    
    .hero-image{
        width: 100%;
        margin-bottom: 1vh;
    }
    .hero-section{
        height: 100%;
        display: inline-block;
    }
}
@media screen and (max-width: 1200px) {
    .hero-heading{
        font-size: 4vh;
    }
    .hero-h2{
        font-size: 3vh;
        margin-top: 2vh;
    }
    .hero-text{
        font-size: 2vh;
        margin-top: 3vh;
        width: 90%;
    }
    
    .vicky{
        width: 100%;
    }
    .hero{
        margin-left: 4vh;
        margin-right: 3vh;
        margin-top: 10vh;
    }
    
    .hero-image{
        width: 100%;
        margin-bottom: 1vh;
        padding-right: 0vh;
    }
    .hero-section{
        height: 100%;
        display: inline-block;
    }
}