.navbar-brand{
    color: crimson !important;
    font-size: 28px !important;
    font-weight: 800;
}
.nav-item{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-right: 3vh; 
}
.nav-item::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-item:hover::after{
    width: 100%;
    
}
.navbar-toggler{
    color: #fff !important;
}
/* media querry */
@media screen and (max-width: 992px) {
    .nav-item{
        font-size: 1.6vh;
    }

    
}



